*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
span{
    font-size: 5rem;
    color: maroon;
}
h1{
    margin-top: 2rem;
}
button{
    padding: 1rem;
    margin-top: 1rem;
    cursor: pointer;
}